/* FONTS AND HTML BODY */

html, body{
    overflow-x: hidden;
}

body {
    color:#333333;
    font-family: "Muli", Helvetica, sans-serif;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ovo", Times, serif;
}

h2 {
    font-size:28px;
    font-weight: normal;
    margin-bottom: 5px;
}

p {
    font-size:16px;
    font-weight: 100;
    line-height: 19px;
}

 /* GRID */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.one-half, .one-third, .one-fourth {
    float:left;
    margin:0 2% 20px;
    min-height: 1px;
    position:relative;
    width:96%;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
}

@media (min-width: 1200px) {
    .container {
     width: 1170px;
   }
}

@media (min-width: 1920px) {
	.container {
		width: 1900px;
	}
 }

 /* Header Nav*/

 header nav {
    background-color: #639EE4;
    background-size: 100%;
    padding: .25em 0;
 }

 header nav ul {
    display: inline;
    float: right;
    margin: 0;
    text-align: right;
 }

header nav ul > li {
    margin: 15px;
    list-style-type: none;
    display: inline-block;  
}

header nav ul > li.btn-outline {
    padding:10px 15px;
    border:2px solid #FFFFFF;
    border-radius: 4px;
}

header nav ul > li.btn-outline:hover {
    background:#FFFFFF;
}

header nav ul > li > a {
    color:#FFFFFF;
    text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
    color:#639EE4;
}

header {
    background-color: #f9f9f9;
    width: 100%;
}

/* Header with Hero*/
header .hero {
    display:block;
    position: relative;
    text-align: center;
}

header .hero h1 {
    font-size:48px;
    font-weight: normal;
    margin:95px 0 0;
    color: #639EE4;
}

header .hero p {
    font-size: 22px;
    font-weight: 100;
    line-height: 26px;
    margin:10px 0 40px;
}

header .hero img {
    display: block;
    margin:3em auto 0;
}

/* buttons */
.btn {
    background: #639EE4;
    border: 1px solid #639EE4;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: "Muli", sans-serif;
    padding: 10px 30px;
    text-decoration: none;
}



